.comp-logo {
  width: 40px;
}
.logo {
  display: flex;
}
.logo h3 {
  margin: 4px;
}

.reviews-pic {
  width: 65px;
  border-radius: 50%;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1000px) and (max-height: 950px) {
  .logo {
    display: none;
  }
}
@media only screen and (max-width: 450px) and (max-height: 950px) {
  .logo {
    display: none;
  }
}
@media only screen and (max-width: 400px) and (max-height: 750px) {
  .logo {
    display: none;
  }
}
